body {
    margin: 0;
    font-family: Amazon Ember Regular, Arial, sans-serif;
    font-size: 16px;
    background-color: #0e171e;
    color: #949494;
}

header {
    background-color: #1a222d;
    padding: 15px;
}

header img {
    vertical-align: middle;
    margin-left: 30px;
    height: 156px;
}

.logo_header {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    cursor: pointer;
}

.logo_header:hover {
    opacity: .5;
}

header nav {
    margin: 0;
    display: inline-block;
}

header form {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 2px;
    margin-right: 100px;
}

header form input {
    padding: 10px;
    background-color: #1a222d;
    border: 1px solid #2b3742;
    color: #ccc;
    width: 200px;
    outline: none;
    font-size: 100%;
}

aside img {
    height: 50px;
}

ul {
    list-style: none;
}

li {
    position: relative;
    display: inline-block;
}

a {
    text-decoration: none;
    opacity: 1;
    transition: opacity .5 ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    cursor: pointer;
}

a:hover {
    opacity: .75;
}

aside a {
    color: #f1f1f1;
    padding: 5px;
}

footer {
    text-align: center;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

footer img {
    margin-left: 40px;
}

footer a {
    color: #79B8F3;
}

footer ul {
    margin: 0;
}

main {
    margin: auto;
    padding: 0;
    text-align: center;
}

section h1 {
    text-align: left;
    color: #f1f1f1;
    margin: 0;
    padding-left: 45px;
    font-weight: 700;
    font-size: 19px;
}

section ul {
    width: max-content;
    margin-top: 10px;
}

section h1 a {
    color: #79B8F3;
    font-size: 13px;
    font-weight: 400;
}

.main-banner {
    margin-bottom: 20px;
    overflow: hidden;
}

.main-banner img {
    transition: transform .3s ease;
}

.main-banner:hover img {
    transform: scale(1.03);
    cursor: pointer;
}

.movie-img {
    width: 300px;
    padding: 2px;
    cursor: pointer;
}

.movie-img:hover {
    opacity: 0.6;
}

.delete-icon {
    width: 50px;
    position: absolute;
    top: 60px;
    left: 115px;
    display: none;
    z-index: 2;
    cursor: pointer;
}

.editable-list-element .movie-img {
    opacity: 0.2;
}

.editable-list-element .delete-icon {
    display: inline;
}

.title_1 {
    color: #f1f1f1;
    width: 430px;
    margin-bottom: 0;
    margin-top: 0;
}

.title_1:hover {
    opacity: .5;
}

.title_2 {
    color: #f1f1f1;
    width: 430px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 20px;
}

.title_1:hover {
    opacity: .5;
}

.img_hover {
    vertical-align: middle;
}

.color_link {
    color: #f1f1f1
}

.nav_body {
    margin-left: 10px;
    margin-top: 10px;
}