*{
    transition: .2s ease;
}

.container-fluid{
    background-color: rgb(241, 241, 241);
}

.card-link{
    color: grey;
}

.toast{
    opacity: 1;
}

.cursor-pointer{
    cursor: pointer;
}